<div id="inscription">
  <label>Votre pseudo:</label>
  <input #idPseudo (keyup.enter)="addJoueur(idPseudo.value)" type="text"/>
  <p>{{errorDoublon}}</p>
</div>

<div id="room">
	<h1>Bienvenue {{ currentJoueur.pseudo }}</h1>
	<h2>Liste des joueurs dans la salle d'attentes</h2>
	<button  [class.noStart]="!start" [class.start]="start" >Commencer la partie</button>

	<ul>
		 <li *ngFor="let personne of joueurs">
		 	{{ personne.pseudo }}
		 </li>
 	</ul>

 	<chat-room></chat-room>
	<textarea #idMessage (keyup.enter)="addMessage(idMessage.value)"></textarea>
</div>



