.contenuLoup{
    bottom: 0;
    position: absolute;
    max-height: 100%;
}

p{
    margin: 0px;
    padding: 0px;
}

.loup_pseudo {
    display: inline-block;
    font-weight: bold;
    background: aliceblue;
    color: white;
    border-radius: 5px;
    margin-right: 4px;
    padding: 4px;
}
loup_msg {
    font-size: 14px;
}
